<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Event Details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .button-group {
            margin-top: 10px;
        }

        .button-group .btn {
            margin-right: 10px;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h1 th:text="${event.title}" class="mb-4">Event Details</h1>

    <div class="card mb-4">
        <div class="card-body">
            <p><strong>ID:</strong> <span th:text="${event.eventId}">12345</span></p>
            <p><strong>Description:</strong> <span th:text="${event.description}">Lorem ipsum dolor sit amet</span></p>
            <p><strong>Location:</strong> <span th:text="${event.location}">New York City</span></p>
            <p><strong>Start Time:</strong> <span th:text="${event.startTime}">2023-06-15 09:00 AM</span></p>
            <p><strong>End Time:</strong> <span th:text="${event.endTime}">2023-06-15 05:00 PM</span></p>
        </div>
    </div>

    <div>
        <button type="button" class="btn btn-primary mt-4" data-toggle="modal" data-target="#inviteModal">
            Invite
        </button>
    </div>

    <div class="modal fade" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="inviteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="inviteModalLabel">Invite someone to the event</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="inviteForm" th:action="@{/invite/send}" method="post">
                        <input type="hidden" th:value="${event.getEventId()}" name="eventId">
                        <div class="form-group">
                            <label for="recipient-email" class="col-form-label">Recipient Email:</label>
                            <input type="text" class="form-control" id="recipient-email" name="email">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary"
                            onclick="document.getElementById('inviteForm').submit();">Send Invite
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="button-group">
        <a th:href="@{/event/edit(id=${event.eventId})}" class="btn btn-primary">Edit Event</a>
        <a th:href="@{/event/delete(id=${event.eventId})}" class="btn btn-danger">Delete Event</a>
    </div>

    <h2>Comments</h2>
    <form action="/event/details/comment" method="post">
        <div class="form-group">
            <label for="comment">Leave a comment:</label>
            <textarea id="comment" name="comment" class="form-control" rows="3"></textarea>
        </div>
        <input type="hidden" name="id" th:value="${event.eventId}">
        <button type="submit" class="btn btn-primary">Send</button>
    </form>


    <button href="/" class="btn btn-secondary mt-4">Back to Home</button>

    <div class="mt-4">
        <h3>Previous Comments</h3>
        <ul>
            <li th:each="message : ${allMessages}" th:text="${message.text}"></li>
        </ul>
        <p th:if="${allMessages.isEmpty()}">No comments yet.</p>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
