<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Event List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>Event List</h1>
    <form th:action="@{/event/search}" method="get">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search by event name" name="term">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </div>
        </div>
    </form>

    <table class="table table-striped">
        <thead>
        <tr>
            <th><a th:href="@{/event/list(sort='name')}">Event Name</a></th>
            <th><a th:href="@{/event/List(sort='date')}">Date</a></th>
            <th><a th:href="@{/event/list(sort='time')}">Time</a></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event : ${events}">
            <td th:text="${event.title}"></td>
            <td th:text="${event.startTime}"></td>
            <td th:text="${event.endTime}"></td>
            <td>
                <a th:href="@{/event/details(id=${event.getEventId()})}" class="btn btn-primary">View Details</a>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#inviteModal">
                    Invite
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="modal fade" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="inviteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="inviteModalLabel">Invite someone to the event</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="inviteForm" th:action="@{/invite/send}" method="post">
                        <div class="form-group">
                            <label for="recipient-email" class="col-form-label">Recipient Email:</label>
                            <input type="text" class="form-control" id="recipient-email" name="email">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary"
                            onclick="document.getElementById('inviteForm').submit();">Send Invite
                    </button>
                </div>
            </div>
        </div>
    </div>


    <a href="/" class="btn btn-secondary">Back to Home</a>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
