<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Event List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>Event List</h1>
    <form th:action="@{/event/search}" method="get">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search by event name" name="term">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </div>
        </div>
    </form>

    <table class="table table-striped">
        <thead>
        <tr>
            <th><a th:href="@{/event/list(sort='name')}">Event Name</a></th>
            <th><a th:href="@{/event/List(sort='date')}">Date</a></th>
            <th><a th:href="@{/event/list(sort='time')}">Time</a></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event : ${events}">
            <td th:text="${event.title}"></td>
            <td th:text="${event.startTime}"></td>
            <td th:text="${event.endTime}"></td>
            <td>
                <a th:href="@{/event/details(id=${event.getEventId()})}" class="btn btn-primary">View Details</a>
            </td>
        </tr>
        </tbody>
    </table>

    <a href="/" class="btn btn-secondary">Back to Home</a>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
